<!DOCTYPE html>
<html lang="en" data-dtinth>
  <head>
    <title>WebMIDI via WebRTC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
		<!--
		<link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/npm/water.css@2.0/out/dark.min.css,gh/dtinth/dtinth-water@v0.3/dtinth-water.min.css"
    />
		-->
		
		
		<link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>
	
  <body class="thread_body">
    <div id="app" class="thread_container">
			
			<p id="connection-info" class="wmwrtctr_thread_link_url">{{url}}</p>
			
      <template v-if="error">
        <div class="wmwrtctr_error">
					{{ error }}
				</div>
      </template>
      <template v-else>
				
        <div class="wmwrtctr_center_display">
          <div>
            <h2 class="wmwrtctr_port_labels">MIDI input {{this_channel_number}}</h2>
            <!-- <port-selector :selected="currentInput" :available="availableInputs" @select="selectedInput = $event"></port-selector> -->
						<div class="wmwrtctr_port_name">{{midiInputPortName}}</div>
          </div>
          <div class="align-self-center wmwrtctr_arrow">
            &rarr;
          </div>
          <div>
            <h2 class="wmwrtctr_port_labels">WebRTC {{this_channel_number}}</h2>
            <ul class="wmwrtctr_counters">
							<li>Peers: {{ activeConnections }}</li>
              <li>Received: {{ received }}</li>
              <li>Sent: {{ sent }}</li>
            </ul>
          </div>
          <div class="align-self-center wmwrtctr_arrow">
            &rarr;
          </div>
          <div>
            <h2 class="wmwrtctr_port_labels">MIDI output {{this_channel_number}}</h2>
            <!-- <port-selector :selected="currentOutput" :available="availableOutputs" @select="selectedOutput = $event"></port-selector> -->
						<div class="wmwrtctr_port_name">{{midiOutputPortName}}</div>
          </div>
        </div>
      </template>
    </div>
		
    <script type="x-template" id="port-selector">
      <div>
        <ul class="port-selector">
          <li v-for="option of options" :key="option.key" :class="{ 'is-selected': option.selected }">
            <a href="javascript:" @click="select(option)">{{ option.text }}</a>
          </li>
        </ul>
      </div>
    </script>
		

    <script
      src="https://cdn.jsdelivr.net/npm/p2pkit@0.0.0-2/dist/index.js"
      integrity="sha256-IBqKNNdZBkvlyBDTBnPO57idR/RhhMygjQ59d9MsNZ4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
